# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=job_market_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

# Pipeline Configs
FETCH_LIMIT=100
LOG_LEVEL=INFO