# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Database volume files or local database dumps
*.sqlite3
*.db
postgres_data/

# OS metadata
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/